@import "tailwindcss";

/* Ye humare Gopal Ji store ke custom premium colors hain */
@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-500: #3b82f6; 
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;
}

body {
  background-color: #f8fafc; /* Premium off-white background */
}